.columns > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 50px 0;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns h5 {
  font-size: 22px;
  letter-spacing: 0;
  line-height: 28px;
  margin: 0;
}

.columns p {
  margin: 10px 0;
  color: #595959;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 22px;
}

.columns p.button-container a {
  width: 100%;
  max-width: unset;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 3rem;
    text-align: left;
  }

  .columns > div > div {
    order: unset;
  }

  .columns p.button-container a {
    width: auto;
  }
}
